<div class="container-fluid d wow fadeIn" data-wow-duration="1s">
    <% include ./partials/navbar %>
    <div class="profile mx-5 px-5">
        <h2 class="mt-5 text-center wow fadeInDown">Profile Details</h2>
        <form class="mx-auto d-form">
            <div class="form-group wow fadeInLeft">
              <label class="text-white" for="name">Name</label>
              <input
                class="form-control d-fc"
                value="<%= user.name %>"
                disabled
              />
            </div>
            <div class="form-group mt-5 wow fadeInRight">
              <label class="text-white" for="email">Email</label>
              <input
                class="form-control d-fc"
                value="<%= user.email %>"
                disabled
              />
            </div>
            <div class="form-group mt-5 wow fadeInLeft">
              <label class="text-white" for="address">Address</label>
              <input
                class="form-control d-fc"
                value="<%= user.address %>"
                disabled
              />
            </div>
            <div class="form-group mt-5 wow fadeInRight">
              <label class="text-white" for="age">Age</label>
              <input
                class="form-control d-fc"
                value="<%= user.age %>"
                disabled
              />
            </div>
            <div class="form-group mt-5 wow fadeInLeft">
              <label class="text-white" for="mobile">Mobile</label>
              <input
                class="form-control d-fc"
                value="<%= user.mobile %>"
                disabled
              />
            </div>
          </form>
    </div>
</div>