<div class="container-fluid ls">
  <div class="row align-items-center h-100">
    <div class="col-md-5 m-auto">
      <div class="card card-body px-5 pb-4 pt-3 ls-card">
        <h1 class="b-name mb-5 text-center">La'croix</h1>
        <h2 class="text-white">Register</h2>
        <%= include ("./partials/messages"); %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label class="text-white" for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label class="text-white" for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label class="text-white" for="address">Address</label>
            <input
              type="text"
              id="address"
              name="address"
              class="form-control"
              placeholder="Enter Address"
              value="<%= typeof address != 'undefined' ? address : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label class="text-white" for="address">Age</label>
            <input
              type="number"
              id="age"
              name="age"
              class="form-control"
              placeholder="Enter Age"
              value="<%= typeof age != 'undefined' ? age : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label class="text-white" for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label class="text-white" for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <div class="form-group mt-3">
            <label class="text-white"  for="mobile">Mobile</label>
            <input
              type="tel"
              id="mobile"
              name="mobile"
              class="form-control"
              placeholder="Enter Mobile Number"
              value="<%= typeof mobile != 'undefined' ? mobile : '' %>"
            />
          </div>
          <p class="ext mt-2"></p>
          <button type="submit" class="btn btn-primary ls-btn">Register</button>
        </form>
        <p class="ext mt-5">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>
</div>